<template>
    <div v-if="this.pageData">
        <div class="page-top"
             v-bind:style="{
                backgroundImage: 'url(\''+  this.pageData.image + '\')',
                backgroundPosition: 'center',
                backgroundSize: 'cover'
            }">

        </div>
        <section class="main">
            <div class="inner cg">
                <div class="news-detail content">
                    <h1>{{ this.pageData.title }}</h1>
                    <span class="news-date-time">{{ this.pageData.published_at | formatDate }}</span>
                    <div class="news-detail-text" v-html="this.pageData.content_html"></div>

                    <div class="news-tags">
                        <label>Tags:</label>
                        <router-link to="#" v-bind="key" v-for="(tag, key) in this.pageData.tags" >
                            {{ tag }}
                        </router-link>
                    </div>

                    <router-link to="/blog" class="news-back-link" >Назад к списку</router-link>

                    <div class="news-related-articles">
                        <h3>Related Articles</h3>
                        <router-link :to="`/blog/${ related.slug }`" v-bind="key" v-for="(related, key) in this.pageData.related_articles" >{{ related.title }}</router-link>
                    </div>
                </div>
            </div>
        </section>
        <contact/>
    </div>
</template>

<script>
    import Contact from '@/components/contact-bar';
    import Example from '@/components/example-carousel';
    import Controls from '@/components/slider-controls';
    import Pdf from '@/components/pdf';
    import axios from "axios";
    import { mapGetters, mapState } from 'vuex';


    export default {
        components: { Contact, Example, Controls, Pdf },
        data: () => ({
            pageData: null,
            slider1: 0,
            slider2: 0,
            sticky: false,
        }),
        computed: {
            mobile() {
                return screen.width < 1025;
            },
            country() {
                const [firstChar, ...rest] = this.$route.params.id;
                return `${firstChar.toUpperCase()}${rest.join('')}`;
            },
            ...mapGetters(['getBlogBySlug']),
            ...mapState(['websiteData']),
        },
        methods: {
            onScroll() {
                var position = this.$refs.about.getBoundingClientRect();
                this.sticky = position.top < 0;
            }
        },
        watch: {
            slider1(n, o) {
                if (n > o) this.$refs.slider1.next();
                else this.$refs.slider1.prev();
            },
            slider2(n, o) {
                if (n > o) this.$refs.slider2.next();
                else this.$refs.slider2.prev();
            },
            '$route.params.id': function(data) {
                this.$set(this, 'pageData', this.getBlogBySlug(data));
            },
            websiteData(){
                this.$set(this, 'pageData', this.getBlogBySlug(this.$route.params.id));
            }
        },
        mounted() {
            if(this.$store.state.websiteDataLoaded) {
                this.$set(this, 'pageData', this.getBlogBySlug(this.$route.params.id));
            }

            document.addEventListener('scroll', this.onScroll);

            // this.donations = response.data.donations;
        },
        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        }
    };

</script>

<style lang="scss" scoped>
    @import '@/assets/mixins.scss';

    section {
        padding: 40px 0;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-weight: 400;

        b {
            color: #83ca54;
        }
    }

    .top-description{
        margin-bottom:25px;
    }

    .main {
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 99;
        transition: all 0.3s;

        &.sticky {
            position: fixed;
            box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);

            &.header {
                transform: translateY(64px);
            }

            h1 {
                margin: 0;
            }

            .inner {
                display: flex;
            }

            @include mobile {
                padding: 10px 0;

                h1, h2 {
                    display: none;
                }

                .inner {
                    justify-content: center;
                }
            }

            @include desktop {
                padding: 15px 0;

                h1 {
                    font-size: 32px;
                    line-height: 40px;
                }

                .inner {
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        h2 {
            color: #3486ac;
        }

        button {
            box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.2);
        }

        ul {
            @include desktop {
                display: grid;
                grid-template-columns: 40% 40%;
                grid-gap: 0 10px;
            }
        }
    }

    /*WTF!!!!11*/
    p, ul, .p >>> p{
        font-size: 14px;
    }

    .news-detail.content {
        width: 745px;
        margin: 0 auto;
    }

    .news-detail > h1 {
        font-size: 38px;
        font-weight: 600;
    }

    .news-detail > h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .news-detail .news-date-time {
        font-weight: 400;
        font-size: 14px;
        color: #b4b4b4;
        margin-bottom: 10px;
        display: block;
    }

    .news-detail .news-preview-text {
        color: #374d5c;
        font-weight: 300;
        font-style: italic;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .news-detail .news-detail-text {
        font-size: 16px;
        color: #374d5c;
        overflow: hidden;
        padding:unset;
    }

    .news-detail .news-detail-text ul{
        list-style: disc;
        padding-left: 0px;
        margin-left: 14px;
    }
    .news-detail .news-detail-text li{
        list-style: disc;
        padding-left: 0px;
        margin-left: 14px;
        font-weight: 300;
    }

    .news-detail .news-detail-text ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    .news-detail .news-detail-text ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
    .news-detail .news-detail-text ul ul, .news-detail .news-detail-text ol ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
    }
    .news-detail .news-detail-text ol ol,.news-detail .news-detail-text  ul ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
    }


    .news-detail .news-detail-text img {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .news-detail .news-detail-text p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        /*margin-bottom: 15px;*/
        color: #374d5c;
        font-weight: 300;
    }

    .news-detail .news-detail-text h1,
    .news-detail .news-detail-text h2,
    .news-detail .news-detail-text h3,
    .news-detail .news-detail-text h4,
    .news-detail .news-detail-text h5,
    .news-detail .news-detail-text h6 {
        margin: 30px 0 15px;
        font-weight: 700;
    }

    .news-detail .news-detail-text h6,
    .news-detail .news-detail-text h5 {
        font-size: 12px;
    }

    .news-detail .news-detail-text h4 {
        font-size: 14px;
    }
    .news-detail .news-detail-text h3 {
        font-size: 16px;
    }

    .news-detail .news-detail-text h1 {
        font-size: 26px
    }
    .news-detail .news-detail-text h2 {
        font-size: 22px;
    }

    .news-detail .news-detail-text blockquote {
        margin: 25px 0 25px 44px;
        padding: 6px 0 6px 20px;
        border-left: 3px solid #adbe4f;
    }

    .news-detail .news-tags {
        margin: 30px 0 20px;
    }

    .news-detail .news-tags label {
        font-weight: 400;
        font-size: 16px;
        color: #b4b4b4;
    }

    .news-detail .news-tags a {
        margin-left: 10px;
        line-height: 22px;
        padding: 0 7px;
        color: #374d5c;
        background: #f6f6f6;
        display: inline-block;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .news-detail .news-related-articles {
        margin-top: 80px;
    }

    .news-detail .news-related-articles h3 {
        font-size: 18px;
        color: #374d5c;
        font-weight: 700;
        padding-bottom: 10px;
        display: block;
        text-transform: uppercase;
    }

    .news-detail .news-related-articles a {
        font-weight: 400;
        font-size: 16px;
        color: #374d5c;
        display: block;
        padding: 15px 0;
        margin-bottom: -1px;
        border-bottom: 1px solid #bfbfbf;
        border-top: 1px solid #bfbfbf;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .news-detail .news-related-articles a:hover {
        color: #adbe4f;
    }
    .news-detail .news-back-link {
        color: #374d5c;
        font-size: 16px;
        font-weight: 700;
        padding-left: 28px;
        transition: all 0.5s ease 0s;
    }
    .news-detail .news-back-link:hover {
        background-position: 8px center;
    }

    .additional-page-top-resize{
        height: 365px!important;
    }
    .page-top {
        height: 180px;
        padding-bottom: 0;
        background-size: cover;
        background-position: center;
    }

    .page-top {
        h2 {
            font-size: 36px;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            line-height: 60px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }

    .news-related-articles h3 {
        margin-bottom: 0;
    }


    .news-detail .news-back-link:hover {
        background-position: 8px center;
    }

    .news-detail .news-back-link {
        background: rgba(0, 0, 0, 0) url('../../assets/icons/fullArrowLeftDarkBlue.png') no-repeat scroll left center;
        color: #374d5c;
        font-size: 16px;
        font-weight: 700;
        padding-left: 28px;
        transition: all 0.5s ease 0s;
    }

</style>