<template>
  <div v-if="this.pageData">
    <section class="main">
      <div v-animate="'fade'" class="inner cg">
        <div>
          <h1>Гражданство в <b>{{ this.pageData.name_where }}</b></h1>
          <h2>{{ this.pageData.currency }} {{ this.pageData.price }}</h2>
        </div>

        <div class="top-description" v-html="this.pageData.top_description"></div>
        <!--<ul>
          <li>Stay up to 90 days within any 180 days period in a Schengen area and/or in Russian Federation</li>
          <li>143 visa-free or visa on arrival countries and territories</li>
          <li>Stay up to 6 months in a year in the United Kingdom</li>
          <li>No income, wealth, and inheritance taxes </li>
          <li>Large Family Friendly Program</li>
          <li>USA E2 Visa opportunity</li>
          <li>No requirement to visit Grenada before, during, or after application.</li>
          <li>All nationalities are eligible. </li>
        </ul>-->
        <button class="green fill" @click="$store.commit('showModal')">
          Послать запрос
        </button>
      </div>
    </section>
    <section v-show="sticky" :class="{ header: $store.state.header }" class="main sticky">
      <div class="inner cg">
        <div>
          <h1>Гражданство в <b>{{ this.pageData.name }}</b></h1>
          <h2>$ {{ this.pageData.price }}</h2>
        </div>
        <button class="green fill" @click="$store.commit('showModal')">
          Послать запрос
        </button>
      </div>
    </section>
    <section ref="about" class="about">
      <div class="cg" >
        <h2>O {{ this.pageData.name_about }}</h2>
        <div class="p" v-html="this.pageData.mid_description"></div>
        <!--
                <p>
                  With a population of around 110,000 on the island of 344 km2 (133 mi2),
                  the ‘Spice Isle’ is one of the most beautifully lush islands in the West
                  Indies. Naturally exotic, Grenada’s breathtaking scenery includes mountain
                   waterfalls and golden beaches surrounded by tropical rain forests. The
                   view is appealing even to the most discerning world traveler. This mix
                   of unspoiled authentic Caribbean of yesteryear and friendly and modern
                   lifestyle today, makes it the perfect place to live and play.
                </p>
                <p>
                  In 2013, the independent island nation of Grenada re-launched their
                  Citizenship by Investment Program. Grenada’s Citizenship by Investment
                  Program is a fantastic way to  enjoy the beautiful island of Grenada,
                  explore new paths for your  business and expand your passport portfolio.
                  Citizenship by Investment is not about selling passports. The Passport
                  is the document that facilitates crossing borders or opening bank
                  accounts, but Citizenship goes much deeper, creating a “membership” of
                  an exclusive Group that lasts not just for your lifetime, but can be
                  passed on to future generations.
                </p>-->
      </div>
    </section>
    <section class="options">
      <div class="inner cg">
        <div class="options__left">
          <h2>Способы получить гражданство {{ this.pageData.name_where }}</h2>
          <div class="p" v-html="this.pageData.bottom_description"></div>
          <!--
          <p>
            <b>Option #1- via donation to government</b>
            <br>
            To qualify for Citizenship under this program, the investor needs 
            to make a designated, non-refundable, donation to the The National
            Transformation Fund (NTF).
          </p>
          <p>
            Monies raised from Citizenship by Investment are directed into programs 
            that benefit the local populations and build a base for economic stability 
            by creating long - and short - term employment developing industries that 
            are crucial for the survival of these small islands. Implementation of 
            social projects within schools, hospitals, agriculture, healthcare, and 
            renewable energy create a much-needed infrastructure.
          </p>
          <p>
            Candidates may apply for Grenada Citizenship by the donation to the 
            Government of Grenada of $150,000 USD for a single person, or of  
            $200,000 USD for a family of up to four (4) members (applicant, 
            spouse and two children under 17). For each additional family member 
            additional donation amount is of $25,000 USD. 
          </p>
          <p>
            The citizenship acquired under donation program is fully recognized by 
            the Government of Grenada.  Those  applying for and receiving Grenada 
            Citizenship under the program have the  full right to reside in Grenada 
            at all times and the passport is  renewable upon expiry. Moreover, 
            Citizenship is hereditary. The applicant must not have any criminal 
            record and must be of high standing in his or her community, organization, 
            society or country. Applicant and family members will be checked and  
            citizenship granting is by the sole discretion of the government.
          </p>src="@/assets/destinations/1.png"-->
          <img :src="'https://api.my2ndpassport.com/storage/app/media/'+this.pageData.image_1" >
        </div>

        <div class="options__right">
          <div class="p" v-html="this.pageData.bottom_description_2"></div>
          <!--<p>
            <b>Option #2- via investment in real estate</b>
            To qualify, the investor must enter into a contract with a CBI 
            approved developer to purchase approved real estate with a certain 
            minimum value. Once the purchase contract has been signed and the 
            funds are in escrow, the investor may apply for citizenship (only a 
            part of the full investment amount must be paid before submission, 
            please contact us for the exact details). The real estate purchase 
            contract is contingent upon citizenship acceptance. Once citizenship 
            has been accepted, the real estate purchase transaction will be completed. 
            The Real Estate Investment can not be sold for a minimum time period- 4 years. 
          </p>
          <p>
            To qualify for this program, the applicant must invest in approved real 
            estate with a minimum value of  $350,000 USD  for a family of up to four 
            (4) members (applicant, spouse and two children), if the single applicant 
            is interested to obtain the citizenship via real estate purchase, 
            the minimum value also is from $350,000 USD.  Those  applying for and 
            receiving Grenada Citizenship under the program have the  full right to  
            reside in Grenada at all times and the passport is  renewable upon  
            expiry. Moreover, Citizenship is hereditary. 
            <br>
            The applicant must not  have any criminal record and must be of high 
            standing in his or her  community, organization, society or country. 
            Applicant and family  members will be checked and  citizenship granting 
            is by the sole  discretion of the government.
          </p>
          <p>
            The applicant is responsible for paying the full minimum contribution   
            amount required under the laws and regulations that govern the Grenada  
            Citizenship by Investment Program. Therefore, when making the payment   
            via bank transfer, the applicant must also pay any applicable bank   
            charges, so that the contribution amount is received by the Government   
            in full. Full minimum contribution amounts are expressed in United   
            States dollars (USD). However, the Government will also accept payments   
            in  euros (EUR) and pounds sterling (GBP). Any payment in EUR or GBP  
             must, on the  day it is processed by the recipient bank, be equivalent   
             to or greater  than the minimum contribution amount in USD. Any payment   
             that falls below the minimum contribution amount in USD will be  rejected  
             as insufficient. 
          </p>-->
          <img :src="'https://api.my2ndpassport.com/storage/app/media/'+this.pageData.image_2" >
        </div>
      </div>
    </section>
    <section class="process">
      <div class="cg">
        <h2 v-animate.fade="'slide-left'">Процесс</h2>
        <p v-animate.fade="'slide-up'">
          Процесс состоит из двух основных этапов – первичная проверка и комплексная проверка (так
          называемая due diligence). В случае успешного прохождения обоих этапов, через {{ this.pageData.weeks }} недели
          Вы получите новый паспорт.
        </p>
        <pdf v-animate.fade="'fade'" label="Download process pdf" path="/process.pdf" height="500px"/>
        <img v-animate.fade="'slide-up'" src="@/assets/processRu.png">
      </div>
    </section>
    <section>
      <div class="cg inner">
        <div class="example">
          <h2 v-if="this.pageData.donations.length"  v-animate.fade="'slide-left'">Примеры расчета объема пожертвований</h2>
          <controls v-if="this.pageData.donations.length" v-model="slider1" :total="mobile ? 4 : 2" responsive/>
        </div>
        <example ref="slider1" v-model="slider1" v-bind:lines_data="this.pageData.donations"/>
      </div>
    </section>
    <section v-if="this.pageData.realestate.length" >
      <div class="cg inner">
        <div class="example">
          <h2 v-if="this.pageData.realestate.length"  v-animate.fade="'slide-left'">Пример расчета инвестиций в недвижимое имущество</h2>
          <controls  v-if="this.pageData.realestate.length" v-model="slider2" :total="mobile ? 4 : 2" responsive/>
        </div>
        <example ref="slider2" v-model="slider2" v-bind:lines_data="this.pageData.realestate"/>
      </div>
    </section>
    <contact/>
  </div>
</template>

<script>
    import Contact from '@/components/section-contact';
    import Example from '@/components/example-carousel';
    import Controls from '@/components/slider-controls';
    import Pdf from '@/components/pdf';
    import { mapGetters, mapState } from 'vuex';


    export default {
        components: { Contact, Example, Controls, Pdf },
        data: () => ({
            pageData: null,
            slider1: 0,
            slider2: 0,
            sticky: false,
        }),
        computed: {
            mobile() {
                return screen.width < 1025;
            },
            country() {
                const [firstChar, ...rest] = this.$route.params.id;
                return `${firstChar.toUpperCase()}${rest.join('')}`;
            },
            ...mapGetters(['getCitizenshipBySlug']),
            ...mapState(['websiteData']),
        },
        methods: {
            onScroll() {
                var position = this.$refs.about.getBoundingClientRect();
                this.sticky = position.top < 0;
            }
        },
        watch: {
            slider1(n, o) {
                if (n > o) this.$refs.slider1.next();
                else this.$refs.slider1.prev();
            },
            slider2(n, o) {
                if (n > o) this.$refs.slider2.next();
                else this.$refs.slider2.prev();
            },
            '$route.params.id': function(data) {
                this.$set(this, 'pageData', this.getCitizenshipBySlug(data));
            },
            websiteData(){
                this.$set(this, 'pageData', this.getCitizenshipBySlug(this.$route.params.id));
            }
        },
        mounted() {
            if(this.$store.state.websiteDataLoaded) {
                this.$set(this, 'pageData', this.getCitizenshipBySlug(this.$route.params.id));
            }

            document.addEventListener('scroll', this.onScroll);

            // this.donations = response.data.donations;
        },
        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        }
    };

</script>

<style lang="scss" scoped>
  @import '@/assets/mixins.scss';

  section {
    padding: 40px 0;
  }

  p {
    font-size: 14px;
  }

  h1 {
    font-weight: 400;

    b {
      color: #83ca54;
    }
  }

  .top-description{
    margin-bottom:25px;
  }

  .main {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
    transition: all 0.3s;

    &.sticky {
      position: fixed;
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);

      &.header {
        transform: translateY(64px);
      }

      h1 {
        margin: 0;
      }

      .inner {
        display: flex;
      }

      @include mobile {
        padding: 10px 0;

        h1, h2 {
          display: none;
        }

        .inner {
          justify-content: center;
        }
      }

      @include desktop {
        padding: 15px 0;

        h1 {
          font-size: 32px;
          line-height: 40px;
        }

        .inner {
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    h2 {
      color: #3486ac;
      margin-bottom:20px;
    }

    button {
      box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.2);
    }

    ul {
      @include desktop {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 0 10px;
      }
    }
  }

  .about {
    background: #f9f9f9;
  }

  /*WTF!!!!11*/
  p, ul, .p >>> p{
    font-size: 14px;
  }





  .options {

    .inner {
      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    }

    &__left,
    &__right {
      @include desktop {
        width: 48%;
      }
    }

    &__right {
      @include desktop {
        display: flex;
        flex-direction: column;

        img {
          order: -1;
        }
      }
    }
  }

  .process {
    background: #eff8fe url('../../assets/citizenship/bg.png') no-repeat center;

    img {
      @include mobile {
        display: none;
      }
    }
  }

  .example {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
</style>