<template>
  <div class="about">
    <section class="about__section main">
      <div class="inner cg">
        <div v-animate.fade="'fade'" class="about__bg"/>
        <h1>Наша цель:</h1>
      </div>
    </section>
    <section class="about__section info">
      <div class="cg" v-animate.fade="'slide-up'">
        <p>
          Наша цель заключается в том, чтобы помочь нашим клиентам получать удовольствие от сегодняшнего дня, не забывая планировать безопасное будущее.
          Мы твердо верим в традиционные ценности такие как надежность, уважение и честность.
          Именно они и являются основными принципами нашей работы.
        </p>
        <h2>Почему мы</h2>
        <ul>
          <li>Опытная команда;</li>
          <li>Многолетний опыт;</li>
          <li>Гарантия качества;</li>
          <li>Слаженная и усердная работа.</li>
        </ul>
        <p>
          Мы владеем несколькими языками, что позволит сделать консультацию максимально удобной именно для вас. Наш коллектив подготовит ответы на вопросы любой сложности в том числе как правильно выбрать страну для инвестиции, какой тип инвестиции подойдет вам больше всего и как правильно и корректно оформить все документы согласно требованиям инвестиционных программ.
        </p>
        <button class="green" @click="$store.commit('showModal')">Связатся с нами</button>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.about {
  @include mobile {
    background: #eff8fe;
  }

  &__bg {
    background: url('../assets/about.png') no-repeat;

    @include mobile {
      height: 400px;
      background-size: auto 500px;
      background-position: bottom left;
    }

    @include desktop {
      position: absolute;
      top: -130px;
      right: 20px;
      width: 475px;
      height: 550px;
    }
  }

  &__section {

    &.main {
      @include desktop {
        padding: 80px 0;
      }

      h1 {
        font-weight: normal;
      }

      .inner {
        position: relative;
      }
    }
    
    &.info {
      padding: 40px 0;
      background: #eff8fe;

      p:first-of-type{
        @include desktop {
          padding-right: 620px;
        }
      }

      ul {        
        @include desktop {
          padding-right: 400px;
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-gap: 10px;
        }
      }
    }
  }
}
</style>