<template>
  <div v-if="$store.state.websiteDataLoaded" class="residence">
    <div class="residence__inner">
      <div class="residence__left">
        <div class="residence__left__inner">
          <h2 v-animate.fade="'fade'">{{ getPageBySlug('residence').title }}</h2>
          <p v-animate.fade="'fade'" v-html="getPageBySlug('residence').body"></p>
          <v-form v-animate.fade="'slide-up'" class="form"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VForm from '@/components/subscribe';
import { mapGetters } from 'vuex'

export default {
  components: { VForm },
  computed: {
      ...mapGetters(['getPageBySlug']),
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.residence {
  background: url('../assets/residence.png') no-repeat top center;

  @include mobile {
    padding-top: 390px;
    background-size: auto 350px;
    background-position: top right -150px;
  }

  @include desktop {
    background-size: cover;
  }

  &__inner {
    @include desktop {
      display: flex;
    }
  }

  &__left {
    @include desktop {
      padding: 100px 100px 100px 0;
      background: #eff8fe url('../assets/residence-shapes.png') no-repeat center right 100px;
      width: calc(50vw + 70px);
      display: flex;
      justify-content: flex-end;
    }

    &__inner {
      padding: 0 20px;
      max-width: 555px;
    }
  }
}
</style>