<template>
  <div class="burger" @click="$emit('click')">
    <div class="row"/>
    <div class="row"/>
    <div class="row"/>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.burger {
  width: 24px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.row {
  height: 2px;
  background: #131e43;
}
</style>