<template>
  <div class="close" @click="$emit('click')">✕</div>
</template>

<style lang="scss" scoped>
.close {
  font-weight: 600;
  font-size: 34px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
</style>