<template>
  <table cellpadding="0" cellspacing="0">
    <tr class="border">
      <th>Варианты получения гражданства</th>
      <td v-for="({ name, link }, index) in body" :key="index">
        <router-link target="_blank" :to="`/citizenship/${link}`">{{ name }}</router-link>
      </td>
    </tr>
    <tr class="border">
      <th>Программа пожертвований (в Евро)</th>
      <td v-for="({ donation }, index) in body" :key="index">
        <template v-if="donation">{{ donation }}</template>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr>
      <th>Инвестиция в недвижимость</th>
      <td :colspan="body.length"/>
    </tr>
    <tr>
      <th class="normal">Евро</th>
      <td v-for="({ investment }, index) in body" :key="index">
        <template v-if="investment">{{ investment }}</template>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr class="border">
      <th class="normal">Период удержания имущества(года)</th>
      <td v-for="({ holdingPeriod }, index) in body" :key="index">
        <template v-if="holdingPeriod">{{ holdingPeriod }}</template>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr class="border">
      <th>Сроки (месяцы)</th>
      <td v-for="({ timeframe }, index) in body" :key="index">
        {{ timeframe }}
      </td>
    </tr>
    <tr class="border">
      <th>Обязательное проживание в стране</th>
      <td v-for="({ requiredResidence }, index) in body" :key="index">
        <div v-if="index===0" >5 дней в течении 5 лет</div>
        <div v-else-if="requiredResidence" class="true"/>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr>
      <th>Безвизовый режим</th>
      <td :colspan="body.length"/>
    </tr>
    <tr>
      <th class="normal">Количество безвизовых стран</th>
      <td v-for="({ visaCountries }, index) in body" :key="index">
        {{ visaCountries }}
      </td>
    </tr>
    <tr>
      <th class="normal">Включая ЕС</th>
      <td v-for="({ visaEU }, index) in body" :key="index">
        <div v-if="visaEU" class="true"/>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr>
      <th class="normal">Включая ВБ</th>
      <td v-for="({ visaUK }, index) in body" :key="index">
        <div v-if="visaUK" class="true"/>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr class="border">
      <th class="normal">Включая США</th>
      <td v-for="({ visaUSA }, index) in body" :key="index">
        <div v-if="visaUSA" class="true"/>
        <div v-else class="false"/>
      </td>
    </tr>
    <tr>
      <th>Национальности, которые не допускаются к участию в программе</th>
      <td v-for="({ blacklist }, index) in body" :key="index">
        <div v-if="!blacklist.length" class="false"/>
        {{ blacklist.join(', ') }}
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  data: () => ({
    body: [
      {
        name: 'Антигуа и Барбуда',
        link: 'grazhdanstvo-antigua-i-barbudy',
        donation: '100 000*',
        investment: '400 000**',
        holdingPeriod: 5,
        timeframe: '3-4',
        requiredResidence: '5 days during 5 years',
        requiredResidenceCheck: false,
        visaCountries: 150,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: ['Афганистан', 'Иран', 'Ирак', 'Северная Корея', 'Йемен', 'Судан'],
      },
      {
        name: 'Доминика',
        link: 'dominikа',
        donation: '100 000*',
        investment: '200 000**',
        holdingPeriod: 3,
        timeframe: '3-4',
        requiredResidence: false,
        requiredResidenceCheck: true,
        visaCountries: 137,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: [],
      },
      {
        name: 'Гренада',
        link: 'grenada',
        donation: '150 000*',
        investment: '350 000**',
        holdingPeriod: 4,
        timeframe: '3-4',
        requiredResidence: false,
        requiredResidenceCheck: true,
        visaCountries: 143,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: [],
      },
      {
        name: 'Сант Киттс и Невис',
        link: 'Sant-Kitts-and-Nevis',
        donation: '150 000*',
        investment: "400 000** / 200 000**",
        holdingPeriod: "5/7",
        timeframe: '4-6',
        requiredResidence: false,
        visaCountries: 152,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: ["Афганистан", "Иран", "Северная Корея"],
      },
      {
        name: 'Сент-Люсия',
        link: 'sent-lyusiya',
        donation: '100 000*',
        investment: '300 000**',
        holdingPeriod: '5',
        timeframe: '4-6',
        requiredResidence: false,
        requiredResidenceCheck: true,
        visaCountries: 145,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: [],
      },
      {
        name: 'Вануату',
        link: 'vanuatu',
        donation: '150 000*',
        investment: false,
        holdingPeriod: false,
        timeframe: '6-7',
        requiredResidence: false,
        requiredResidenceCheck: true,
        visaCountries: 129,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: ['Иран', 'Ирак', 'Северная Корея', 'Сирия', 'Йемен'],
      },
      {
        name: 'Мальта',
        link: 'malta',
        donation: false,
        investment: '1 300 000**',
        holdingPeriod: '5',
        timeframe: '6-12',
        requiredResidence: true,
        requiredResidenceCheck: true,
        visaCountries: 182,
        visaEU: true,
        visaUK: true,
        visaUSA: true,
        blacklist: ['Северная Корея', 'Афганистан', 'Иран', 'Ирак', 'Ливия', 'Сомали', 'Судан', 'Сирия', 'Йемен'],
      },
      {
        name: 'Кипр',
        link: 'kipr',
        donation: false,
        investment: '2 250 000**',
        holdingPeriod: '3',
        timeframe: '6-8',
        requiredResidence: true,
        requiredResidenceCheck: true,
        visaCountries: 173,
        visaEU: true,
        visaUK: true,
        visaUSA: false,
        blacklist: ['Северная Корея', 'Судан', 'Сомали', 'Турция'],
      },
    ],
  }),
}
</script>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';

.false {
  width: 13px;
  height: 12px;
  background: url('../assets/icons/no.png') no-repeat center;
  margin: auto;
}

.true {
  width: 17px;
  height: 13px;
  background: url('../assets/icons/yes.png') no-repeat center;
  margin: auto;
}

a {
  font-size: 13px;
  text-decoration: underline;
  color: #202020;
  font-weight: 600;

  &.router-link-active {
    color: #83ca54;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  margin: 10px 0;

  @include mobile {
    display: none;
  }
}

tr.border {
  th, td {
    border-bottom: 1px solid #d9dade;
  }
}

th, td {
  padding: 15px 10px;
  text-align: center;
}

th {
  width: 166px;
  
  &.normal {
    font-weight: normal;
  }
}

td {
  background: #fff;
  
  &:last-child {
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1);
  }
}

tr:last-child td {
  box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.1);
}
</style>