<template>
  <div class="options">
    <v-option>
      <template slot="h">
        Какими языками необходимо владеть?
      </template>
      <p>
        Ни одна из предлагаемых нами программ гражданства не требует определенного знания
        конкретного языка. Мы работаем с вами на вашем языке после чего адаптируем всю

        предоставленную информацию на необходимый язык или же пошагово объясняем вам
        как правильно и корректно перевести документы. Если вы планируете переехать в страну,
        гражданство которой вы выбрали, было бы полезно иметь базовые знания английского
        языка, поскольку это самый популярный язык во всех странах, где мы предлагаем
        гражданство.
      </p>
    </v-option>
    <v-option>
      <template slot="h">
        Сколько по времени занимает смена гражданства?
      </template>
      <p>
        Срок получения гражданства варьируется от 8 недель до 12 месяцев. В среднем наши
        клиенты справляются за 4-5 месяцев. Пожалуй, самым быстрым решением по
        приобретению гражданства за инвестиции является Вануату, где весь процесс обычно
        занимает около 2 месяцев. Вместе с тем, больше всего времени вы потратите на
        получение гражданства Мальты так как огромный престиж страны изрядно влияет на
        сложность и объем комплексной проверки (due diligence).
      </p>
    </v-option>
    <v-option>
      <template slot="h">
        Для какой цели вы приобретаете второе гражданство?
      </template>
      <p>
        В случае, если вы планируете использовать второе гражданство для путешествий, -
        наилучшим вариантом для вас будет мальтийское гражданство, поскольку Мальта
        является членом Европейского Союза. Это означает, что жители Мальты, у которых есть
        местный паспорт, получают возможность путешествовать в 181 страну используя
        преимущества безвизового режима. Несмотря на все преимущества, мы хотели бы
        обратить ваше внимание на тот факт, что получение мальтийского гражданства -
        довольно сложный и дорогой процесс. Что касается Карибского региона – вам стоит
        обратить внимание на паспорт Доминики. Доминикцы имеют свои привилегии в качестве
        путешествий и имеют возможность посетить 143 страну мира на основании безвизового
        режима. Очень значимым преимуществом этого паспорта является то, что данная
        программа дает возможность подать заявление на получение Е2 визы в США. Виза E2,
        так же известна как инвесторская виза, позволяет заявителю проживать в США с целью
        развития бизнеса, что значительно может улучшить качество жизни. И напоследок, не
        стоит забывать о гражданстве Вануату. Гражданство Вануату можно получить через 6-8
        недель, что позволит вам без особых трудностей путешествовать по 129 странам и
        территориям (включая Великобританию, ЕС, Сингапур и Российскую Федерацию).
      </p>
    </v-option>
    <v-option>
      <template slot="h">
        Какой тип инвестиций является самым оптимальным для вас?
      </template>
      <p>
        Два самых популярных способа привлечения инвестиций - пожертвование в специальный
        фонд и инвестирование в недвижимость. Если мы сравнимым минимальные затраты по
        каждому направлению, то следует отметить, что пожертвование в фонд окажется более
        бюджетным вариантом. На ряду с этим привлечь может и тот факт, что в случае более
        дорогого варианта вашей инвестиции - в недвижимость - вы приобретаете
        неограниченное право собственности на соответствующий объект. Это позволит вам
        начать новую жизнь вместе с вашими родными или же построить новый бизнес. Таким
        образом, мы советуем вам обдумать оба варианта, прежде чем выбрать один из них так
        как оба обладают своими преимуществами. Обратите внимание, что есть несколько
        стран, где вы можете получить гражданство только пожертвовав в специальный фонд -
        например, Вануату. В других же странах такая возможность исключена и единственной
        вашей возможностью станет приобретение недвижимости (Мальта и Кипр).
      </p>
    </v-option>
    <v-option>
      <template slot="h">
        Можно ли добавить членов семьи в заявление?
      </template>
      <p>
        Да, безусловно вы имеете право позаботиться и о своих самых близких родственниках.
        При этом, не следует забывать, что обычно сумма инвестиции за гражданство, в случае
        инвестирования в специальный благотворительный фонд, будет варьироваться от
        количества членов семьи упомянутых в вашем заявлении. Общий принцип достаточно
        простой и заключается в том, что чем больше членов семьи включается в заявление, тем
        выше стоимость самой услуги. Единственным исключением из этого правила является
        случай пожертвования в фонд Антигуа и Барбуды, где цена за гражданство останется
        неизменной для заявления, которое включает до 5 членов семьи. В этом вопросе
        инвестиция в недвижимость приобретает значительное преимущество так как плата за
        гражданство не меняется в зависимости от количества участников заявления
        Единственной переменной будет государственная пошлина, что составляет очень
        незначительную часть затрат в целом.
      </p>
    </v-option>
    <v-option>
      <template slot="h">
        Каков ваш бюджет и в целом?
      </template>
      <p>
        Средняя сумма инвестиции за гражданство, включая пожертвование в фонд для
        Карибского региона и Вануату, составляет около 170 000 долларов США. Самый
        бюджетный вариант программы гражданства через пожертвование в специальный фонд

        предлагает Доминика. Суммарно такой проект потребует около 143 000 долларов США на
        одного человека (включая само пожертвование). Если к заявлению будет добавлен
        дополнительный член семьи (например муж или жена) – сумма пожертвования будет
        увеличена. Если речь идет о инвестиции в недвижимость, то самым дешевым вариантом
        будет также программа гражданства в Доминике и составит около 267 000 долларов США
        на одного человека (включая сумму инвестиций в недвижимость). В случае более
        престижных программ, Мальта и Кипр, сумма инвестиции будет начинаться от 1 000 000
        евро. Имейте в виду, что каждый случай индивидуальный и будет просчитываться
        конкретно под вас.
      </p>
    </v-option>
  </div>
</template>

<script>
import VOption from './option';

export default {
  components: { VOption },
};
</script>

<style lang="scss" scoped>
.options {
  box-shadow: -2px 10px 40px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  color: #131e43;
}
</style>