<template>
  <form v-on:submit.prevent="onSubmit">
    <v-input label="Е-мейл" color="#fff"/>
    <button class="white" @click="success = true">Подписаться</button>
    <div v-show="success" class="success">
      <h2>Thank you!</h2>
      <p>Subscription activated.</p>
      <button v-if="modal" class="green" @click="$store.commit('hideModal')">
        Close
      </button>
    </div>
  </form>
</template>

<script>
  import VInput from './input';

  export default {
    components: { VInput },
    props: {
      modal: { type: Boolean, default: false },
    },
    data: () => ({
      success: false,
    }),
  };
</script>


<style lang="scss" scoped>
@import '@/assets/mixins.scss';

form {
  padding: 30px;
  border-radius: 6px;
  box-shadow: -2px 10px 50px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(180deg, #97ca54 0%, #83ca54 100%);
  display: flex;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }

  @include desktop {
    align-items: center;
    justify-content: space-between;
  }

  button {
    @include mobile {
      margin-top: 30px;
    }

    @include desktop {
      margin-left: 20px;
    }
  }
}

h2 {
  font-size: 48px;
  line-height: 40px;
  margin-top:10px;
  color: #e8ffe3;
  font-weight: 400;
  align-self: flex-start;
  text-align:center;
}
p{
  color: #e8ffe3;
  font-weight: 400;
  align-self: flex-start;
  text-align:center;
}

.success {
  position: absolute;
  border-radius: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #97ca54 0%, #83ca54 100%);
}
</style>